<ion-content nopadding>
  <ion-card *ngFor="let card of cards;let i=index;">
    <ion-card-header>
      <img src="{{card?.image}}" tappable />
      <ion-card-title>{{card.label}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid text-center>
        <ion-row>
          <ion-col width-25 class="arrow-icon">
            <ion-icon *ngIf="!card.expanded" name="arrow-down" tappable (click)="expand(i)"></ion-icon>
            <ion-icon *ngIf="card.expanded" name="arrow-up" tappable (click)="expand(i)"></ion-icon>
          </ion-col>
          <ion-col width-50 class="ticket-btn">
            <button ion-button tappable>TICKETS</button>
          </ion-col>
          <ion-col width-25>
            <img src="{{chatIcon}}" class="chat-icon"/>
          </ion-col>
        </ion-row>
      </ion-grid>
      <expandable [expandHeight]="itemExpandHeight" [expanded]="!card.expanded">
        <div class="ticket-group">
          <ion-item>
            <button item-left ion-button tappable>Euro Fri</button>
            <ion-label item-right>x4 Tickets - Valid 09Mar</ion-label>
          </ion-item>
          <ion-item>
            <button item-left ion-button tappable>Euro Fri</button>
            <ion-label item-right>x4 Tickets - Valid 09Mar</ion-label>
          </ion-item>
        </div>
        <div class="alarm-settings">
          <ion-item>
            <ion-label><img src="{{dueImage}}"/><span>Due to play</span></ion-label>
            <ion-label text-right><ion-icon name="settings"></ion-icon><span>Settings</span></ion-label>
          </ion-item>
        </div>
        <div text-center>
          <ion-label class="active-members">Active Members(3)</ion-label>
        </div>
      </expandable>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content text-center class="check-card">
      <button ion-button tappable>CHECK WINNINGS</button>
      <p>You have tickets to check!</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="bottom-card">
    <ion-card-content text-center>
      <img src="{{bottomImage}}" tappable />
    </ion-card-content>
  </ion-card>
</ion-content>