<ion-content nopadding>
  <ion-card *ngFor="let card of cards;let i=index;">
    <ion-card-header>
      <img src="{{card?.image}}" tappable />
      <ion-card-title>{{card.label}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid text-center>
        <ion-row>
          <ion-col width-25 class="arrow-icon">
            <ion-icon *ngIf="!card.expanded" name="arrow-down" tappable (click)="expand(i)"></ion-icon>
            <ion-icon *ngIf="card.expanded" name="arrow-up" tappable (click)="expand(i)"></ion-icon>
          </ion-col>
          <ion-col width-50 class="ticket-btn">
            <button ion-button tappable>TICKETS</button>
          </ion-col>
          <ion-col width-25>
  
          </ion-col>
        </ion-row>
      </ion-grid>
      <expandable [expandHeight]="itemExpandHeight" [expanded]="!card.expanded">
        <div class="buy-ticket">
            <button item-left ion-button tappable>BUY MORE</button>
            <button item-right ion-button tappable>YOUR TICKETS</button>
        </div>
          <div class="alarm-settings">
            <button item-left ion-button clear tappable><img src="{{dueImage}}"/>Due to play</button>
            <button item-right ion-button clear tappable><ion-icon name="settings"></ion-icon>Settings</button>
          </div>
      </expandable>
    </ion-card-content>
  </ion-card>
</ion-content>
