page-super-tabs {
    .mainTabs super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons {
        super-tab-button .title {
            font-size: 10px;
            text-transform: capitalize;
        }
        super-tab-button.title-and-icon {
            height: 58px;
        }
    }
    .mainTabs super-tabs-container {
        height: calc(100% - 58px) !important;
    }
    .topTabs super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container {
        .tab-buttons {
            super-tab-button .title {
                font-size: 95%;
                text-transform: uppercase;
                color: #fff;
            }
        }
        .indicator {
            background-color: $indicator-color;
        }
    }
}